<div class="section text-center">
      <div class="container">
        <div class="row">
	<% @books["results"].each do |book| %>
	          	
	  <div class="col-md-6">
	    
	  <%= image_tag("Sasuke-Shippuden-uchiha-sasuke-22662093-1280-720.jpg", size: '600x500', class: 'img-responsive img-thumbnail') %>
	    <span style="font-size: 18px; font-weight: bold">Title</span>: <%= book["title"]%>
	    <p>Description: <%= book["description"] %></p>
	    <p>Author: <%= book["author"] %></p>
	    <p></p>
	  </div>
		         
	<% end %>
	</div>
  </div>
</div>